<div class="homepage-container">
  <div class="custom-grid">
    <div class="custom-col">
      <p-card header="Teacher" styleClass="course-card" (click)="teacher()">
        Course 1 content
      </p-card>
    </div>
    <div class="custom-col">
      <p-card header="Student" styleClass="course-card" (click)="student()">
        Course 2 content
      </p-card>
    </div>
    <div class="custom-col">
      <p-card header="Parent" styleClass="course-card" (click)="parent()">
        Course 3 content
      </p-card>
    </div>
  </div>
</div>
