/* announcements.component.scss */

//.announcements-container {
//  padding: 20px;
//}

.announcement-card {
  //padding: 20px;
  text-align: center;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 20px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.p-card-header {
  font-weight: bold;
}
div{
  padding-bottom


  :10px;
}
