<div class="container">
    <h1>Meet with Parents</h1>
<div class="dropdown">
    <select id="dropdown">
      <option value="option1">Select a student</option>
      <option value="option2">Option 1</option>
      <option value="option3">Option 2</option>
      <option value="option4">Option 3</option>
    </select>
    <select id="dropdown2">
      <option value="option1">Select Parent</option>
      <option value="option2">Option 1</option>
      <option value="option3">Option 2</option>
      <option value="option4">Option 3</option>
    </select>
</div>
<div class="dropdown">
    <select id="dropdown3">
      <option value="option1">Select date</option>
      <option value="option2">Option 1</option>
      <option value="option3">Option 2</option>
      <option value="option4">Option 3</option>
    </select>
    <select id="dropdown4">
      <option value="option1">Select time</option>
      <option value="option2">Option 1</option>
      <option value="option3">Option 2</option>
      <option value="option4">Option 3</option>
    </select>
</div>
    <textarea id="textarea" rows="4" cols="50" placeholder="Please type any necessary information/agenda..."></textarea>

    <button id="publish-button">Publish</button>
  </div>