.container{
    font-family: Arial, sans-serif;
    background-color: #FFF5F4;
    margin: 0;
    padding: 0 10px;
    display: flex;
    flex-direction: column;
    justify-content:flex-start;
    align-items: flex-start;
    height: 100vh;
  }
  .dropdown{
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
  select,textarea {
    width: 20%;
    padding: 10px;
    margin: 25px 5px;
    border: 2px solid #111;
    border-radius: 5px; 
  }
textarea{
    width: 50%;
    height: 40%;
}
  button {
    background-color: #e4e8ed;
    color: #fff;
    border: none;
    padding: 10px 30px;
    margin-top: 20px;
    border-radius: 5px;
    color: #111;
    cursor: pointer;
  }
  button:hover{
    background-color: #0c27d8;
  }