.login-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;

  h2 {
    font-size: 24px;
    margin-bottom: 20px;
  }

  form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 300px;

    .p-inputgroup {
      margin-bottom: 20px;
    }

    button {
      width: 100%;
    }
  }
}
.error-message {
  color: red;
  font-size: 12px;
  margin-top: 5px;
}
