<!-- login.component.html -->

<div class="login-container">
  <h2>Teacher Login</h2>
  <form (ngSubmit)="login()" #loginForm="ngForm">
    <div class="p-inputgroup">
      <span class="p-inputgroup-addon">
        <i class="pi pi-user"></i>
      </span>
      <input
        type="text"
        pInputText
        [(ngModel)]="userName"
        name="userName"
        placeholder="User Name"
        required
      />
    </div>
    <div class="input-container">
      <div class="p-inputgroup">
        <span class="p-inputgroup-addon">
          <i class="pi pi-id-card"></i>
        </span>
        <input
          type="text"
          pInputText
          [(ngModel)]="studentID"
          name="studentID"
          placeholder="Student ID"
          required
          pattern="[0-9]*"
          #studentIDField="ngModel"
        />
      </div>
      <div *ngIf="studentIDField.invalid && (studentIDField.dirty || studentIDField.touched)">
        <small class="error-message">Please provide a valid Student ID.</small>
      </div>

    </div>
    <button pButton type="submit" label="Submit" [disabled]="!loginForm.form.valid" (click)="onClick()"></button>
  </form>
</div>

