/* navbar.component.css */
.layout {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.container {
  display: flex;
  height: 100vh;
}
.component1 {
  flex: 20%;
  background-color: #FFE7DE;
  box-sizing: border-box;
}

.component2 {
  flex: 80%;
  background-color: #f1f1f1;
  padding: 20px;
  box-sizing: border-box;
}


.navbar {

  width:fit-content;
  height: 100%;
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #fff;
  padding: 0px 20px;
}

.logo{
    width:100%;
    height: auto;
    padding: 10px;
}

.menu {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.menu li {
  padding: 10px;
  width:max-content;
}

.menu a {
  text-decoration: none;
  color: black;
  display: flex;
  align-items: center;
}

.menu a:hover {
  background-color: aqua;
  transition: background-color 0.3s;
}

.arrow {
  margin-left: auto;
}

.menu ul {
    width: max-content;
  list-style-type: none;
  margin: 0;
  margin-left: 20px;
}

.menu ul li {
  padding: 8px 0;
}

.menu ul a {
  text-decoration: none;
  color: black;
}

.menu ul a:hover {
  color: black;
}
